{% load static %}

<div class="container-fluid bg-black text-light py-5 border-mutted border-top">
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
      <div class="col mb-3 col-md-3 py-5">
        <div>
          <img
            src="{% static 'assets/media/con.png' %}"
            style="width: 40%; height: 40%;"
            class="m-1 rounded-circle"
            />  
        </div>      
      </div>
      <div class="col mb-3 col-md-3 py-5 mt-20">

        <ul class="nav flex-column ">
          <li class="nav-item mb-2"><a href="dashboard"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Company</a></li>
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">About Us</a>
          </li>
          <li class="nav-item mb-2"><a href="#"
            class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Projects</a></li>
        <li class="nav-item mb-2"><a href="#"
            class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Re-Development</a>
        </li>
        <li class="nav-item mb-2"><a href="#"
          class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Contact</a>
      </li>
        </ul>
      </div>
      <div class="col col-md-3 mb-3 py-5 mt-20">
        <ul class="nav flex-column">
          
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white"><i class="bi bi-geo-alt-fill fs-2x"></i>&nbsp;&nbsp;
              657A,Gulab Pavilion, 7th Floor,<br>
              Near Z Bridge, Deccan Gymkhana,<br>
              Pune - 04, Maharashtra, India.<br>
            </a>
          </li>
          <br>
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white"><i class="bi bi-phone fs-2x"></i>&nbsp;+91-8380041102</a>
          </li>
          <br>
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white"><i class="bi bi-telephone-fill fs-2x"></i>&nbsp;020-25530793</a>
          </li>
          
        </ul>
      </div>

      <div class="col mb-3 col-md-3 py-5 mt-20">
        <h6 class="text-white">Map</h6>
        <!-- <div class="google-maps-link"> <a aria-label="View larger map" target="_blank" jstcache="15" href="https://maps.google.com/maps?ll=18.515859,73.843533&amp;z=15&amp;t=m&amp;hl=en&amp;gl=IN&amp;mapclient=embed&amp;cid=2161136497501928990" jsaction="mouseup:placeCard.largerMap">View larger map</a> 
          <iframe src=”https://www.google.com/maps/embed?pb=!…” width=”600″ height=”450″ frameborder=”0″ style=”border:0″ allowfullscreen></iframe>
        </div> -->
        
      </div>
      <div>
        <a href="https://api.whatsapp.com/send?phone=7798085657">
        <img
          src="{% static 'assets/media/whatsapp.png' %}"
          style="height: 70px;width: 70px;"
          class="m-1 rounded-circle"
          />  
      </a>
      </div>   
      
    </footer>
  </div>
</div>

