{% extends 'base.html' %} {% load static %}
{% block content %}
<div class="card ">
    <div class="app-main  flex-column flex-row-fluid" id="kt_app_main">
      <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_content" class="app-content  flex-column-fluid">
          <div id="kt_app_content_container" class="app-container">
            <!--begin::Content wrapper-->
            <div class="row g-5 g-xl-10 mt-20 mb-5 mb-xl-12">
              <!--begin::Engage widget 6-->
              <div class="card flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-end h-xl-100" style="
                background-color: #020202;
                background-image: url('{{ song.song_image.url }}');">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between flex-column ps-xl-18 h-300px">
                  <!--begin::Heading-->
                  <div class="mb-20 pt-xl-13">
                    <!--begin::Title-->
                    <h3 class="fw-bold text-white fs-4x mb-5 ms-n1">{{song.title}}</h3>
                    <!--end::Title-->
                    <!--begin::Items-->
                    <div class="d-flex align-items-center">
                      <!--begin::Item-->
                      <div class="d-flex align-items-center me-6">
  
                      </div>
                      <!--end::Item-->
                      <!--begin::Item-->
                      <div class="d-flex align-items-center">
  
                      </div>
                      <!--end::Item-->
                    </div>
                    <!--end::Items-->
                  </div>
                  <!--end::Heading-->
                  <!--begin::Action-->
  
                  <!--begin::Action-->
                </div>
                <!--end::Body-->
              </div>
              <!--end::Engage widget 6-->
            </div>
            <!--end::Engage widget 6-->
                  </div>
             
                  
                
                </div>
              </div>     
           </div>
</div>

<div class="card mb-6 mb-xl-9">
    <div class="card-body pt-9 pb-0  border-gray-900">
        <!--begin::Details-->
        <div class="d-flex flex-wrap flex-sm-nowrap mb-6">
            <!--begin::Image-->
            <div class="d-flex flex-center flex-shrink-0 bg-light rounded w-100px h-100px w-lg-150px h-lg-150px me-7 mb-4">
                <img class="mw-50px mw-lg-75px" src="assets/media/svg/brand-logos/volicity-9.svg" alt="image" />
            </div>
            <!--end::Image-->
            <!--begin::Wrapper-->
            <div class="flex-grow-1">
                <!--begin::Head-->
                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                    <!--begin::Details-->
                    <div class="d-flex flex-column">
                        <!--begin::Status-->
                        <div class="d-flex align-items-center mb-1">
                            <a href="#" class="text-gray-800 text-hover-primary fs-2 fw-bold me-3">Gulabrao Buttepatil</a>
                            <span class="badge badge-light-success me-auto">-Founder & Chairman</span>
                        </div>
                        <!--end::Status-->
                        <!--begin::Description-->
                        <div class="d-flex flex-wrap fw-semibold mb-4 fs-5 text-gray-400">A veteran in the Industry for Residential and Commercial Segment, under his leadership, the group has successfully delivered many projects in both the segments. He has worked tirelessly over the years adding value to the company and bringing the company to this stage. He is the foundation of trust and dignity the customers have bestowed upon to the company. Buttepatil properties is well positioned because of him to play an important role in leading the real estate industry in and around Pune.</div>
                        <!--end::Description-->
                    </div>
                    <!--end::Details-->
                </div>
                <!--end::Head-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Details-->
        <div class="separator"></div>
        
    </div>
</div>

<div class="card mb-6 mb-xl-9">
    <div class="card-body pt-9 pb-0  border-gray-900">
        <!--begin::Details-->
        <div class="d-flex flex-wrap flex-sm-nowrap mb-6">
            <!--begin::Image-->
            <div class="d-flex flex-center flex-shrink-0 bg-light rounded w-100px h-100px w-lg-150px h-lg-150px me-7 mb-4">
                <img class="mw-50px mw-lg-75px" src="assets/media/svg/brand-logos/volicity-9.svg" alt="image" />
            </div>
            <!--end::Image-->
            <!--begin::Wrapper-->
            <div class="flex-grow-1">
                <!--begin::Head-->
                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                    <!--begin::Details-->
                    <div class="d-flex flex-column">
                        <!--begin::Status-->
                        <div class="d-flex align-items-center mb-1">
                            <a href="#" class="text-gray-800 text-hover-primary fs-2 fw-bold me-3">Gulabrao Buttepatil</a>
                            <span class="badge badge-light-success me-auto">-Founder & Chairman</span>
                        </div>
                        <!--end::Status-->
                        <!--begin::Description-->
                        <div class="d-flex flex-wrap fw-semibold mb-4 fs-5 text-gray-400">A veteran in the Industry for Residential and Commercial Segment, under his leadership, the group has successfully delivered many projects in both the segments. He has worked tirelessly over the years adding value to the company and bringing the company to this stage. He is the foundation of trust and dignity the customers have bestowed upon to the company. Buttepatil properties is well positioned because of him to play an important role in leading the real estate industry in and around Pune.</div>
                        <!--end::Description-->
                    </div>
                    <!--end::Details-->
                </div>
                <!--end::Head-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Details-->
        <div class="separator"></div>
        
    </div>
</div>

<div class="card m-6 mb-xl-9">
    <div class="card-body pt-9 pb-0  border-gray-900">
        <!--begin::Details-->
        <div class="d-flex flex-wrap flex-sm-nowrap mb-6">
            <!--begin::Image-->
            <div class="d-flex flex-center flex-shrink-0 bg-light rounded w-100px h-100px w-lg-150px h-lg-150px me-7 mb-4">
                <img class="mw-50px mw-lg-75px" src="assets/media/svg/brand-logos/volicity-9.svg" alt="image" />
            </div>
            <!--end::Image-->
            <!--begin::Wrapper-->
            <div class="flex-grow-1">
                <!--begin::Head-->
                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                    <!--begin::Details-->
                    <div class="d-flex flex-column">
                        <!--begin::Status-->
                        <div class="d-flex align-items-center mb-1">
                            <a href="#" class="text-gray-800 text-hover-primary fs-2 fw-bold me-3">Gulabrao Buttepatil</a>
                            <span class="badge badge-light-success me-auto">-Founder & Chairman</span>
                        </div>
                        <!--end::Status-->
                        <!--begin::Description-->
                        <div class="d-flex flex-wrap fw-semibold mb-4 fs-5 text-gray-400">A veteran in the Industry for Residential and Commercial Segment, under his leadership, the group has successfully delivered many projects in both the segments. He has worked tirelessly over the years adding value to the company and bringing the company to this stage. He is the foundation of trust and dignity the customers have bestowed upon to the company. Buttepatil properties is well positioned because of him to play an important role in leading the real estate industry in and around Pune.</div>
                        <!--end::Description-->
                    </div>
                    <!--end::Details-->
                </div>
                <!--end::Head-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Details-->
        <div class="separator"></div>
        
    </div>
</div>


{% endblock content %}