{% extends 'base.html' %} {% load static %}
{% block content %}
<div class="card ">
    <div class="app-main  flex-column flex-row-fluid" id="kt_app_main">
      <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_content" class="app-content  flex-column-fluid">
          <div id="kt_app_content_container" class="app-container">
            <!--begin::Content wrapper-->
            <div class="row g-5 g-xl-10 mt-20 mb-5 mb-xl-12">
              <!--begin::Engage widget 6-->
              <div class="card flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-end h-xl-100" style="
                background-color: #ce6a34;
                background-image: url('{{ song.song_image.url }}');">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between flex-column ps-xl-18 h-300px">
                  <!--begin::Heading-->
                  <div class="mb-20 pt-xl-13">
                    <!--begin::Title-->
                    <h3 class="fw-bold text-white fs-4x mb-5 ms-n1">Projects</h3>
                    <!--end::Title-->
                    <!--begin::Items-->
                    <div class="d-flex align-items-center">
                      <!--begin::Item-->
                      <div class="d-flex align-items-center me-6">
  
                      </div>
                      <!--end::Item-->
                      <!--begin::Item-->
                      <div class="d-flex align-items-center">
  
                      </div>
                      <!--end::Item-->
                    </div>
                    <!--end::Items-->
                  </div>
                  <!--end::Heading-->
                  <!--begin::Action-->
  
                  <!--begin::Action-->
                </div>
                <!--end::Body-->
              </div>
              <!--end::Engage widget 6-->
            </div>
            <!--end::Engage widget 6-->
                  </div>
                </div>
              </div>     
           </div>
</div>

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10 mt-10">
    <!--begin::Col-->
    <div class="col-xl-12">
        <!--begin::Engage widget 7-->
        <div class="card card-flush h-xl-100">
            <!--begin::Header-->
            <div class="card-header pt-7">
                <!--begin::Title-->
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold text-dark">Completed</span>
                    <span class="text-gray-400 mt-1 fw-semibold fs-6">Description</span>
                </h3>
                <!--end::Title-->
            </div>
            <!--end::Header-->
            <!--begin::Card body-->
            <div class="card-body pt-7">
                <!--begin::Row-->
                <div class="row align-items-end h-100 gx-5 gx-xl-10">
                    <!--begin::Col-->
                    <div class="col-md-4 mb-11 mb-md-0">
                        <!--begin::Overlay-->
                        <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/900x600/42.jpg">
                            <!--begin::Image-->
                            <div class="overlay-wrapper bgi-position-center bgi-no-repeat bgi-size-cover h-200px card-rounded mb-3" style="height: 266px;background-image:url('assets/media/stock/900x600/42.jpg"></div>
                            <!--end::Image-->
                            <!--begin::Action-->
                            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                <i class="bi bi-eye-fill fs-2x text-white"></i>
                            </div>
                            <!--end::Action-->
                        </a>
                        <!--end::Overlay-->
                        <!--begin::Info-->
                        <div class="m-0">
                            <!--begin::Title-->
                            <a href="#" class="text-gray-800 text-hover-primary fs-3 fw-bold d-block mb-2">Site</a>
                            <!--end::Title-->
                            <!--begin::Time-->
                            <span class="fw-bold fs-6 text-gray-400 d-block lh-1">Description</span>
                            <!--end::Time-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-md-4 mb-11 mb-md-0">
                        <!--begin::Overlay-->
                        <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/900x600/40.jpg">
                            <!--begin::Image-->
                            <div class="overlay-wrapper bgi-position-center bgi-no-repeat bgi-size-cover h-200px card-rounded mb-3" style="height: 266px;background-image:url('assets/media/stock/900x600/40.jpg"></div>
                            <!--end::Image-->
                            <!--begin::Action-->
                            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                <i class="bi bi-eye-fill fs-2x text-white"></i>
                            </div>
                            <!--end::Action-->
                        </a>
                        <!--end::Overlay-->
                        <!--begin::Info-->
                        <div class="m-0">
                            <!--begin::Title-->
                            <a href="#" class="text-gray-800 text-hover-primary fs-3 fw-bold d-block mb-2">Site</a>
                            <!--end::Title-->
                            <!--begin::Time-->
                            <span class="fw-bold fs-6 text-gray-400 d-block lh-1">Description</span>
                            <!--end::Time-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-md-4">
                        <!--begin::Overlay-->
                        <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/900x600/41.jpg">
                            <!--begin::Image-->
                            <div class="overlay-wrapper bgi-position-center bgi-no-repeat bgi-size-cover h-200px card-rounded mb-3" style="height: 266px;background-image:url('assets/media/stock/900x600/41.jpg"></div>
                            <!--end::Image-->
                            <!--begin::Action-->
                            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                <i class="bi bi-eye-fill fs-2x text-white"></i>
                            </div>
                            <!--end::Action-->
                        </a>
                        <!--end::Overlay-->
                        <!--begin::Info-->
                        <div class="m-0">
                            <!--begin::Title-->
                            <a href="#" class="text-gray-800 text-hover-primary fs-3 fw-bold d-block mb-2">Site</a>
                            <!--end::Title-->
                            <!--begin::Time-->
                            <span class="fw-bold fs-6 text-gray-400 d-block lh-1">Description</span>
                            <!--end::Time-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Engage widget 7-->
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row g-5 g-xl-10  mb-xl-10 ">
    <!--begin::Col-->
    <div class="col-xl-12">
        <!--begin::Engage widget 7-->
        <div class="card card-flush h-xl-100">
            <!--begin::Header-->
            <div class="card-header pt-7">
                <!--begin::Title-->
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold text-dark">Ongoing</span>
                    <span class="text-gray-400 mt-1 fw-semibold fs-6">Description</span>
                </h3>
                <!--end::Title-->
            </div>
            <!--end::Header-->
            <!--begin::Card body-->
            <div class="card-body pt-7">
                <!--begin::Row-->
                <div class="row align-items-end h-100 gx-5 gx-xl-10">
                    <!--begin::Col-->
                    <div class="col-md-4 mb-11 mb-md-0">
                        <!--begin::Overlay-->
                        <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/900x600/42.jpg">
                            <!--begin::Image-->
                            <div class="overlay-wrapper bgi-position-center bgi-no-repeat bgi-size-cover h-200px card-rounded mb-3" style="height: 266px;background-image:url('assets/media/stock/900x600/42.jpg"></div>
                            <!--end::Image-->
                            <!--begin::Action-->
                            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                <i class="bi bi-eye-fill fs-2x text-white"></i>
                            </div>
                            <!--end::Action-->
                        </a>
                        <!--end::Overlay-->
                        <!--begin::Info-->
                        <div class="m-0">
                            <!--begin::Title-->
                            <a href="#" class="text-gray-800 text-hover-primary fs-3 fw-bold d-block mb-2">Site</a>
                            <!--end::Title-->
                            <!--begin::Time-->
                            <span class="fw-bold fs-6 text-gray-400 d-block lh-1">Description</span>
                            <!--end::Time-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-md-4 mb-11 mb-md-0">
                        <!--begin::Overlay-->
                        <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/900x600/40.jpg">
                            <!--begin::Image-->
                            <div class="overlay-wrapper bgi-position-center bgi-no-repeat bgi-size-cover h-200px card-rounded mb-3" style="height: 266px;background-image:url('assets/media/stock/900x600/40.jpg"></div>
                            <!--end::Image-->
                            <!--begin::Action-->
                            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                <i class="bi bi-eye-fill fs-2x text-white"></i>
                            </div>
                            <!--end::Action-->
                        </a>
                        <!--end::Overlay-->
                        <!--begin::Info-->
                        <div class="m-0">
                            <!--begin::Title-->
                            <a href="#" class="text-gray-800 text-hover-primary fs-3 fw-bold d-block mb-2">Site</a>
                            <!--end::Title-->
                            <!--begin::Time-->
                            <span class="fw-bold fs-6 text-gray-400 d-block lh-1">Description</span>
                            <!--end::Time-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-md-4">
                        <!--begin::Overlay-->
                        <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/900x600/41.jpg">
                            <!--begin::Image-->
                            <div class="overlay-wrapper bgi-position-center bgi-no-repeat bgi-size-cover h-200px card-rounded mb-3" style="height: 266px;background-image:url('assets/media/stock/900x600/41.jpg"></div>
                            <!--end::Image-->
                            <!--begin::Action-->
                            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                <i class="bi bi-eye-fill fs-2x text-white"></i>
                            </div>
                            <!--end::Action-->
                        </a>
                        <!--end::Overlay-->
                        <!--begin::Info-->
                        <div class="m-0">
                            <!--begin::Title-->
                            <a href="#" class="text-gray-800 text-hover-primary fs-3 fw-bold d-block mb-2">Site</a>
                            <!--end::Title-->
                            <!--begin::Time-->
                            <span class="fw-bold fs-6 text-gray-400 d-block lh-1">Description</span>
                            <!--end::Time-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Engage widget 7-->
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10 ">
    <!--begin::Col-->
    <div class="col-xl-12">
        <!--begin::Engage widget 7-->
        <div class="card card-flush h-xl-100">
            <!--begin::Header-->
            <div class="card-header pt-7">
                <!--begin::Title-->
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold text-dark">Upcoming</span>
                    <span class="text-gray-400 mt-1 fw-semibold fs-6">Description</span>
                </h3>
                <!--end::Title-->
            </div>
            <!--end::Header-->
            <!--begin::Card body-->
            <div class="card-body pt-7">
                <!--begin::Row-->
                <div class="row align-items-end h-100 gx-5 gx-xl-10">
                    <!--begin::Col-->
                    <div class="col-md-4 mb-11 mb-md-0">
                        <!--begin::Overlay-->
                        <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/900x600/42.jpg">
                            <!--begin::Image-->
                            <div class="overlay-wrapper bgi-position-center bgi-no-repeat bgi-size-cover h-200px card-rounded mb-3" style="height: 266px;background-image:url('assets/media/stock/900x600/42.jpg"></div>
                            <!--end::Image-->
                            <!--begin::Action-->
                            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                <i class="bi bi-eye-fill fs-2x text-white"></i>
                            </div>
                            <!--end::Action-->
                        </a>
                        <!--end::Overlay-->
                        <!--begin::Info-->
                        <div class="m-0">
                            <!--begin::Title-->
                            <a href="#" class="text-gray-800 text-hover-primary fs-3 fw-bold d-block mb-2">Site</a>
                            <!--end::Title-->
                            <!--begin::Time-->
                            <span class="fw-bold fs-6 text-gray-400 d-block lh-1">Description</span>
                            <!--end::Time-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-md-4 mb-11 mb-md-0">
                        <!--begin::Overlay-->
                        <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/900x600/40.jpg">
                            <!--begin::Image-->
                            <div class="overlay-wrapper bgi-position-center bgi-no-repeat bgi-size-cover h-200px card-rounded mb-3" style="height: 266px;background-image:url('assets/media/stock/900x600/40.jpg"></div>
                            <!--end::Image-->
                            <!--begin::Action-->
                            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                <i class="bi bi-eye-fill fs-2x text-white"></i>
                            </div>
                            <!--end::Action-->
                        </a>
                        <!--end::Overlay-->
                        <!--begin::Info-->
                        <div class="m-0">
                            <!--begin::Title-->
                            <a href="#" class="text-gray-800 text-hover-primary fs-3 fw-bold d-block mb-2">Site</a>
                            <!--end::Title-->
                            <!--begin::Time-->
                            <span class="fw-bold fs-6 text-gray-400 d-block lh-1">Description</span>
                            <!--end::Time-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-md-4">
                        <!--begin::Overlay-->
                        <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/900x600/41.jpg">
                            <!--begin::Image-->
                            <div class="overlay-wrapper bgi-position-center bgi-no-repeat bgi-size-cover h-200px card-rounded mb-3" style="height: 266px;background-image:url('assets/media/stock/900x600/41.jpg"></div>
                            <!--end::Image-->
                            <!--begin::Action-->
                            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                <i class="bi bi-eye-fill fs-2x text-white"></i>
                            </div>
                            <!--end::Action-->
                        </a>
                        <!--end::Overlay-->
                        <!--begin::Info-->
                        <div class="m-0">
                            <!--begin::Title-->
                            <a href="#" class="text-gray-800 text-hover-primary fs-3 fw-bold d-block mb-2">Site</a>
                            <!--end::Title-->
                            <!--begin::Time-->
                            <span class="fw-bold fs-6 text-gray-400 d-block lh-1">Description</span>
                            <!--end::Time-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Engage widget 7-->
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
{% endblock content %}